@import "tailwindcss";

@layer theme {
  :root {
    --primary-black: #000002;
    --white: #FFFFFF;
    --primary-blue: #0979F0;
    --primary-light-blue: #01CCFF;
  }
}

@layer base {
  /* Preflight styles */
}

@layer components {

}

@layer utilities {

}
