@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Poppins&display=swap');
@import "tailwindcss";

@theme {
  /* COLORS */
  --color-mint-500: oklch(0.72 0.11 178);
  --color-primary-black: #000002;
  --color-white: #ffffff;
  --color-primary-blue: #0979f0;
  --color-light-blue: #01ccff;

  /* TEXT */
  --text-18: 18px;
  --text-28: 28px;

  /* SPACING */
  --spacing-18: 18px;

  /* BORDER RADIUS */
  --radius-40: 40px;

  /* MAX WIDTH */
  --container-page-limit: 1440px;
  --container-home-hero-text: 624px;

  /* FONTS */
  --font-orbitron: "Orbitron", sans-serif;
}

@layer base {
  /* Preflight styles */
  h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 100%;
  }

  h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
  }
}

@layer components {
}

@layer utilities {
  /* POSITION UTILITIES */
  .center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .between-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .center-column-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .bg-hero-radial {
    background: radial-gradient(
      72.92% 72.92% at 50.36% 100%,
      var(--color-light-blue) 0%,
      var(--color-primary-blue) 66.59%
    );
  }
}
